.landing {
  background-color: var(--Linkedin-background-1);
  min-width: 500px;
}

.landing__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.landing__left {
  margin-top: 55px;

  padding-left: 18%;
}
.landing__left > h1 {
  font-size: 50px;
  font-weight: 200;
  max-width: 60%;
  color: var(--Linkedin-main-black-1);
  margin-bottom: 20px;
}
.landing__left > p {
  font-size: 20px;
  font-weight: 200;
  max-width: 467px;
  letter-spacing: 0.5px;
  color: var(--Linkedin-main-black-1);
  margin-bottom: 20px;
}
.landing__right {
  margin-top: 55px;
  padding-right: 22%;
  padding-left: 5%;
}
.landing__right .landing__right-1 {
  display: flex;
}
.landing__right .landing__right-2 {
  display: flex;
}
.landing__right .landing__right-3 {
  display: flex;
}
.landing__right .landing__right-3 .color {
  color: var(--Linkedin-background-1);
}
