.section {
  background-color: white;
  min-width: 500px;
  margin-bottom: 50px;
}

.section__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section__left {
  margin-top: 55px;

  padding-left: 18%;
}
.section__left > h1 {
  font-size: 50px;
  font-weight: 200;
  max-width: 90%;
  color: var(--Linkedin-main-black-1);
  margin-bottom: 20px;
}

.section__right {
  margin-top: 55px;
  padding-right: 22%;
  padding-left: 5%;
  align-items: center;
}
.section__right .section__right-1 .section__rightBtns {
  border: 1px solid var(--Linkedin-main-black-1);
  padding-top: 17px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem ; */
  padding-inline: 34px;
  border-radius: 75px;
  margin-inline: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
}
.section__right .section__right-2 .section__rightBtns {
  border: 1px solid var(--Linkedin-main-black-1);
  padding-top: 17px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem ; */
  padding-inline: 34px;
  border-radius: 75px;
  margin-inline: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
}
.section__right .section__right-3 .section__rightBtns {
  border: 1px solid var(--Linkedin-main-black-1);
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  /* width: 11rem ; */
  padding-inline: 34px;
  border-radius: 75px;
  margin-inline: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #fff;
}
.section__right .section__right-1 {
  display: flex;
}
.section__right .section__right-2 {
  display: flex;
}
.section__right .section__right-3 {
  display: flex;
}

.section__right .section__showmoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 63px;
  padding: 5px;
  padding-inline: 9px;
}
