body {
  --Linkedin-color: #0077b5;
  --Linkedin-background-1: #f3f2f0;
  --Linkedin-background-2: #f1ece5;
  --Linkedin-background-3: #f4faff;
  --Linkedin-main-black-1: #000000;
  --Linkedin-main-black-2: #313335;
  --Linkedin-main-gray-color-1: #86888a;
  --Linkedin-main-gray-color-2: #caccce;
  --Linkedin-font-color-1: #b24020;
  --Linkedin-font-color-2: #8f5849;
}
